@model Library.Models.BookFindModel

@{
    Layout = null;
}

@using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentBody" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BookFindModel</h4>
        <hr />
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name,  new { @class = "form-control", @placeholder="Ввести название" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.PublishingHouseId, htmlAttributes: new { @class = "control-label" })
            </div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PublishingHouseId, Model.AllPublishingHouses, new { @class = "form-control" } )
                </div>
            </div>

        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.BookSeriesId, htmlAttributes: new { @class = "control-label" })
            </div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BookSeriesId, Model.AllBookSeries, new { @class = "form-control" } )
                </div>
            </div>

        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.AuthorId, htmlAttributes: new { @class = "control-label" })
            </div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.AuthorId, Model.AllAuthors, new { @class = "form-control" } )
                </div>
            </div>

        <div class="row form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Искать" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section scripts{
    <script language="javascript" type="text/javascript">

    $(document).ready(function () {

        $("#PublishingHouseId").change(function () {

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetPublisherBookSeries", "BookSeries")/' + $(this).val(),
                success: function (response) {

                    var bookSeries = $.parseJSON(response);
                    var ddlSelectedProduct = $("#BookSeriesId");

                    $("#BookSeriesId > option").remove();

                    for (i = 0; i < bookSeries.length; i++) {
                        ddlSelectedProduct.append($("<option />").val(bookSeries[i].Value).text(bookSeries[i].Text));
                    }
                }

            });
        });

    });
    </script>
}