@model PublishingDetailsModel
@using Library.Models;

<div class="form-horizontal">

    <div class="col-md-offset-3">
        <h3>Информация об издательстве</h3>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-3">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-9">
            <h4> @Html.DisplayFor(model => model.Name, new { @class = "control-label" })</h4>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3">
            <label class="control-label">Книги издательства</label>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            @foreach (var book in Model.Books)
            {
                @Html.ActionLink(book.Name.Trim(), "Details", "Books", new { id = @book.Id }, new { @class = "btn btn-default margin-left" })
            }
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3">
            <label class="control-label">Серии издательства</label>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            @foreach (var bookSerie in Model.BookSeries)
            {
                @Html.ActionLink(bookSerie.Name.Trim(), "Details", "BookSeries", new { id = @bookSerie.Id }, new { @class = "btn btn-default margin-left" })
            }
        </div>
    </div>


    <div class="row form-group">
        <div class="col-md-3">
            <label class="control-label">Серии издательства</label>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            @foreach (var author in Model.Authors)
            {
                @Html.ActionLink(author.Name.Trim(), "Details", "PublishingHouse", new { id = @author.Id }, new { @class = "btn btn-default margin-left" })
            }
        </div>
    </div>

    <div>
        @Html.ActionLink("Редактировать издательство", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Список издательств", "Index", null, new { @class = "btn btn-default" })
    </div>

    </div>
